//color variables

$navy_blue: #011e34;
$deep_red: rgba(154, 2, 2, 0.8);
$aqua_blue: #087896;
$sky-blue: #0cb4e1;
$turquoise: #09909c;

//mixins
@mixin base_font {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.84);
}
@mixin inner-container($width) {
  width: $width;
  margin: 0 auto;
}
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin align-self-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -o-align-self: center;
  -ms-align-self: center;
  align-self: center;
}
@mixin circle($diameter, $color) {
  width:$diameter;
  height:$diameter;
  border-radius: 50%;
  background-color: $color;
}
@mixin links($color) {
  text-decoration: none;
  color: $color;
}
@mixin underline($color) {
  padding-bottom: 15px;
  border-bottom: 1px solid $color;
}
@mixin scale($k) {
  -webkit-transform: scale($k);
  -moz-transform: scale($k);
  -o-transform: scale($k);
  -ms-transform: scale($k);
  transform: scale($k);
}
@mixin transition1($property1, $duration) {
  -webkit-transition: $property1 $duration;
  -moz-transition: $property1 $duration;
  -o-transition: $property1 $duration;
  -ms-transition: $property1 $duration;
  transition: $property1 $duration;
}
@mixin transform-transition1($property2, $duration) {
  -webkit-transition: -webkit-transform $duration, $property2 $duration;
  -moz-transition: -moz-transform $duration, $property2 $duration;
  -o-transition: -o-transform $duration, $property2 $duration;
  -ms-transition: -ms-transform $duration, $property2 $duration;
  transition: transform $duration, $property2 $duration;
}

//base styles
body {
  background-color: $navy_blue;
  @include base_font;
  margin: 0;
  padding: 0;
}

header, footer {
  width: 100%;
  background-color: $deep_red;
  z-index: 100;
}

header {
  div {
    @include inner-container(75%);
  }
}

footer {
  text-align: center;
  padding: 15px 0;
}

ul {
  list-style: none;
}

nav {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  @include align-self-center;
}

a {
  @include links(#fff);
}

.container {
  width: 100%;
  text-align: center;
  margin: 0;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}